html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff0000, #00ff00);
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 30px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.columns-3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.columns-3 > * {
    width: 33.33%; /* Change to 33.33% to make three equally sized columns */
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color of the columns, use rgba to add transparency if needed */
}

#buttonBox {
    display: flex;
    flex-direction: row;
    margin: 20px;
    bottom: 66%;
    position: fixed;
}

#buttonListContainer {
    display: flex;
    flex-direction: column; /* Place buttons and list in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

#buttonBox button {
    flex: 1; /* Allow buttons to grow and occupy equal space within the row */
}

#gameBox {
    font-weight: 700;
}

li {
    margin: 20px;
}

#displayPlayerScore,
#displayComputerScore {
    font-size: 150px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: auto;
    padding-right: auto;
    border: 2px solid black;
    align-self: center;
}
